<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Brain Tumor Detection</title>
</head>

<body>
    <br>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-2 float-right"> </div>
        <div class="col-sm-4 float-right">
            <button class="nrmbtn btn" onclick="window.location.href='./index'">Home</button>
            <button class=" btn obtn w-75" onclick="window.location.href='./login'">Login&nbsp;&nbsp;<i
                    class="fa fa-angle-right fa-lg"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
<!-- <br>
<br> -->
    <div class="bgim">
    <div class="row posrow text-center">

        <div class="col-sm-1"></div>
        <div class="col-sm-6  text-center">
            <div class="innerform text-center w-50">
                <h3>CREATE ACCOUNT</h3><br>
                <button onclick="window.location.href='./registration'" class=" btn obtn w-75">SIGN UP USING EMAIL&nbsp;&nbsp;<i
                        class="fa fa-envelope fa-lg"></i></button><br><br>
                <span>IF YOUR A NEW USER</span>
                <br><br>
                <div class="separator">or</div><br>
                <span>Existing User?</span><br><br>
                <button class="obtn btn w-75" onclick="window.location.href='./login'">Login</button>
            </div>
        </div>
        <div class="col-sm-4">
            <h1 class="orgclr" style="font-size: 40px;">Brain Tumor Detection</h1>
            <p class="orgclr" style="font-size: 18px;">
                More than 5000 people die every year due to brain tumor in the USA alone ,imageine what woud br the death rate in the entire world.Tumor as we know are of two kinds one is Benign which is non cancerous and can cause nearly no damage if detected early enough and the other is Malignant which caan spread and grow abnormally and usually is fatal.Nearly mor than quater of cases of patients that are detected with tumor or cancerleads tofataity because of a misdiagnosis. We need a accurate source to overcome these limitations that cannot be precisely calculated, for this very reason deep learning and machine learning algorithms are suggested to undestand the problem at hand
            </p>
            <img src="../static/images/newlo.png" alt="">
        </div>
        <div class="col-sm-1"></div>
    </div>
    </div>
   

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>